div.member-item:focus {
    background-color: #38c4a9;
    cursor: pointer;
}

div.member-item:hover {
    background-color: #337ab7;
    cursor: pointer;
}

.chat-list, .notice-content {
    padding-left:10px;
    max-height:374px;
    background-color: #fff;
    width:100%;  
    overflow-y:auto;
    overflow-x:hidden;
    border: 1px solid #c8e1ff;
    height:374px;
}

.member-item {
    color: rgb(3, 102, 214);
}

.receive-message {
    color: rgb(36, 41, 46);
    font-size: 18px;
    margin-left: 20px;
}
